
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #3a1aca87;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#3a1aca87;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}
body{
	margin: none;
   width: 100%;
    margin: auto;
    background-image: url(images/bg_image.jpg);
    background-attachment: fixed;
       
    
}
.input_search { 
	border-top: none;
	border-left: none;
	border-right: none;
	height: 3em;
	width: 60%;
	background-color:transparent;
	
	font: 1.5rem;
	border-bottom-color: black;
	
}
.input_txt {
	border-top: none;
	border-left: none;
	border-right: none;
	margin: 1em;
	height: 3em;
	width: 100%;
	background-color:transparent;
	color: black;
	font: 1.5rem;
	border-bottom-color: black;
	
}
.sl_btn{
  margin-left: 0%;
	width: 8em;
	height: 3em;
	color: black;

}
.sl_btn:hover {
margin: 0;
border:none;
color:white;
background-color:#3a1aca87;
}
/*container*/
.container{
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  height: auto;
		/* display: flex;
    align-items: center;
    justify-content: center;
    height:  100%;
    margin-top: 3%;
    display: grid;
     */

}

.col-m{
  grid-column-start: 1;
  grid-column-end: 1;
  justify-self: center;
  height: 100%;
  max-width: 50%;
}
.flex-grid {
  left: 0;
  bottom: 0;
  position: relative;;
  width: 100%;
  color: black;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.flex-grid .col {
  width: 33%;
  background-color: #3e336e87;
  margin-top: 12%;
  
}


@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}
.l_btn{
	width: 8em;
	height: 3em;
	color: black;

}
.l_btn:hover {
margin: 0;
border:none;
color: black;
background-color: #377d2087;
}
.Dl_btn{
	width: 8em;
	height: 3em;
	color: black;

}
.Dl_btn:hover {
margin: 0;
border:none;
color: black;
background-color:red;
}
.tnav {
 margin: auto;
 width: 100%;
background-color: #333;
  overflow: hidden;
}
.tnav a {
	
  float: left;
  display: block;
  color:beige;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}
.icon{
    background: url(images/toggle.png)
}
.tnav a:hover {
  background-color: #dddf;
  color: black;}

  .active {
    background-color: #65f4362e;
    color:black;

}
.tnav .icon {
    display: none;
  }
/*set a breaking point , if the screen is less than 600px*/
@media screen and (max-width: 600px) {
    .tnav a:not(:first-child) {display: none;}
    .tnav a.icon {
      float: right;
      display: block;
    }
  }
  
/*add the top nav with the javascript and also and button like icon*/
@media screen and (max-width: 600px){
    .tnav.responsive {position: relative;}
    .tnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .tnav.responsive a{
      float: none;
      display: block;
      text-align: left;
    }
  }
  
footer{
  clear: both;
  position: relative;
  height: 40px;
  margin-top: 0px;
background-color: #333;
color: #f2f2f2;
width: 100%;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1em;
overflow: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}
